Flexible HTTP Status Code returned

We sometimes have POST requests that are not creating a resource, thus not desiring to return status code 201. We should choose the response code that we want to return when success.

In our case, the client sends a Search request with payload to retrieve a list of entities from the backend. We want to the request payload to be as flexible as possible, thus not adding these params as query params. We would've just fallback to GET request with payload, but some http clients do not allow it, so we need to use a POST request. The use case is similar to the one used by Elasticsearch.

At this point, there should be a solution to specify the status code:
```
func handleSuccess(w http.ResponseWriter, r *http.Request, rsp *sync.Response, enc encoding.EncodeFunc) error {
	if rsp == nil {
		w.WriteHeader(http.StatusNoContent)
		return nil
	}

	p, err := enc(rsp.Payload)
	if err != nil {
		return err
	}

	if r.Method == http.MethodPost {
		w.WriteHeader(http.StatusCreated)
	}

	_, err = w.Write(p)
	return err
}
```




AFAIK POST should semantically always return 201 because it creates a resource. The whole idea here is to avoid creating scenarios where a POST request could do something and possibly return a 200 or 204 or even a 404... should we allow to do whatever we want here?
HINT: If you need to deviate from the "norm" you can always use raw routes

> AFAIK POST should semantically always return 201

From the RFC: https://tools.ietf.org/html/rfc7231#section-4.3 (see full quoted paragraph below): it says that `201` should be used when something is created.

@mantzas it says: `An origin server indicates response semantics by choosing an
appropriate status code depending on the result of processing the POST request; almost all of the status codes defined by this specification might be received in a response to POST (the exceptions
being 206 (Partial Content), 304 (Not Modified), and 416 (Range Not Satisfiable))`

So `200` is perfectly valid in return to a `POST` request which did not create anything (we do have use-cases for these).

Later on it also mentions regarding caching: `For cases where an origin server wishes the client to be able to cache the result of a POST in a way that can be reused by a later GET, the origin server MAY send a 200 (OK) response containing the result`.

> 4.3.3.  POST
> 
>    The POST method requests that the target resource process the
>    representation enclosed in the request according to the resource's
>    own specific semantics.  For example, POST is used for the following
>    functions (among others):
> 
>    o  Providing a block of data, such as the fields entered into an HTML
>       form, to a data-handling process;
> 
>  
> RFC 7231             HTTP/1.1 Semantics and Content            June 2014
> 
> 
>    o  Posting a message to a bulletin board, newsgroup, mailing list,
>       blog, or similar group of articles;
> 
>    o  Creating a new resource that has yet to be identified by the
>       origin server; and
> 
>    o  Appending data to a resource's existing representation(s).
> 
>    An origin server indicates response semantics by choosing an
>    appropriate status code depending on the result of processing the
>    POST request; almost all of the status codes defined by this
>    specification might be received in a response to POST (the exceptions
>    being 206 (Partial Content), 304 (Not Modified), and 416 (Range Not
>    Satisfiable)).> 
> 
> Fielding & Reschke           Standards Track                   [Page 25]

> 
>    If one or more resources has been created on the origin server as a
>    result of successfully processing a POST request, the origin server
>    SHOULD send a 201 (Created) response containing a Location header
>    field that provides an identifier for the primary resource created
>    (Section 7.1.2) and a representation that describes the status of the
>    request while referring to the new resource(s).
> 
>    Responses to POST requests are only cacheable when they include
>    explicit freshness information (see Section 4.2.1 of [RFC7234]).
>    However, POST caching is not widely implemented.  For cases where an
>    origin server wishes the client to be able to cache the result of a
>    POST in a way that can be reused by a later GET, the origin server
>    MAY send a 200 (OK) response containing the result and a
>    Content-Location header field that has the same value as the POST's
>    effective request URI (Section 3.1.4.2).
> 
>    If the result of processing a POST would be equivalent to a
>    representation of an existing resource, an origin server MAY redirect
>    the user agent to that resource by sending a 303 (See Other) response
>    with the existing resource's identifier in the Location field.  This
>    has the benefits of providing the user agent a resource identifier
>    and transferring the representation via a method more amenable to
>    shared caching, though at the cost of an extra request if the user
>    agent does not already have the representation cached.

@gm42 That makes sense. Since we are refactoring Patron in order to produce a stable v1 we might also take a look that this and change it fundamentally.
It started as an abstraction over synchronous communication but soon we realized that this abstraction is leaky.
The refactoring mentioned #150  is about being specific to HTTP with some abstractions that make it easier to work with and we could also introduce some "helpers" to return any status code the end-user wants. Let's wait for this refactoring and we can work on this afterwards. 
Until then use the Raw routes which give you full control over everything.

#436 will handle this ticket, closing it now.